<%- include('../partials/header.ejs') %>
<%- include('../partials/endheader.ejs') %>
<%- include('../partials/navbar.ejs') %>

<!-- Start Section karet-bivak -->
    <section id="hero-detail">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="location-tpu">
              TPU KARET BIVAK
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="images/images - Bivak/Luas Bangunan/LB-1-Bivak.jpeg" class="d-block w-100" alt="luas-bangunan-bivak1" />
                </div>
                <div class="carousel-item">
                  <img src="images/images - Bivak/Luas Bangunan/LB-2-Bivak.jpeg" class="d-block w-100" alt="luas-bangunan-bivak2" />
                </div>
                <div class="carousel-item">
                  <img src="images/images - Bivak/Luas Bangunan/LB-3-Bivak.jpeg" class="d-block w-100" alt="luas-bangunan-bivak3" />
                </div>
                <div class="carousel-item">
                  <img src="images/images - Bivak/Luas Jalan/LJ-1-Bivak.jpeg" class="d-block w-100" alt="luas-jalan-bivak1" />
                </div>
                <div class="carousel-item">
                  <img src="images/images - Bivak/Luas Jalan/LJ-2-Bivak.jpeg" class="d-block w-100" alt="luas-jalan-bivak2" />
                </div>
                <div class="carousel-item">
                  <img src="images/images - Bivak/Luas Mushola/LM-1-Bivak.jpeg" class="d-block w-100" alt="luas-mushola-bivak1" />
                </div>
                <div class="carousel-item">
                  <img src="images/images - Bivak/Luas Mushola/LM-2-Bivak.jpg" class="d-block w-100" alt="luas-mushola-bivak2" />
                </div>
                <div class="carousel-item">
                  <img src="images/images - Bivak/Luas Parkir/LP-1-Bivak.jpeg" class="d-block w-100" alt="luas-parkir-bivak1" />
                </div>
                <div class="carousel-item">
                  <img src="images/images - Bivak/Luas Parkir/LP-2-Bivak.jpeg" class="d-block w-100" alt="luas-parkir-bivak2" />
                </div>
                <div class="carousel-item">
                  <img src="images/images - Bivak/Luas Toilet/LT-1-Bivak.jpg" class="d-block w-100" alt="luas-toilet-bivak1" />
                </div>
                <div class="carousel-item">
                  <img src="images/images - Bivak/Luas Toilet/LT-2-Bivak.jpg" class="d-block w-100" alt="luas-toilet-bivak2" />
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="d-flex flex-column">
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      Luas
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <strong>161.861.00 M2</strong>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      Luas Bangunan
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <strong>12.566.50 M2</strong>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      Luas Jalan
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <strong>10.010.80 M2</strong>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                      Luas Parkir
                    </button>
                  </h2>
                  <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <strong>2.290.04 M2</strong>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                      Luas Area Mushola
                    </button>
                  </h2>
                  <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <strong>53.77 M2</strong>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                      Luas Area Toilet
                    </button>
                  </h2>
                  <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <strong>52.26 M2</strong>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-center align-items-center">
                <a href="https://pertamananpemakaman.jakarta.go.id/" target="_blank" class="btn-contact"> CEK KETERSEDIAAN </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center align-items-center location-maps">
            <iframe 
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.4657742822446!2d106.8112899759213!3d-6.202121143785624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f6a6c8b4b16b%3A0x92e8e36ac55bd746!2sTempat%20Pemakaman%20Umum%20Karet%20Bivak!5e0!3m2!1sid!2sid!4v1716349021133!5m2!1sid!2sid" 
              width="100%" height="200" 
              loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
          </div>
        </div>
      </div>
    </section>
<!-- End Section karet-bivak -->

<%- include('../partials/footer.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<%- include('../partials/end.ejs') %>
