<%- include('../partials/header.ejs') %>
<%- include('../partials/endheader.ejs') %>
<%- include('../partials/navbar.ejs') %>

<!-- Start Menu Section -->
<section id="menu">
  <div class="container d-flex flex-row justify-content-between">
    <div class="dropdown">
      <button class="btn btn-lg dropdown-toggle w-100 btn-menu " style="background-color: #24b554;" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
        JAKARTA PUSAT
      </button>
      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
        <li><a class="dropdown-item" href="/tpu-karet">TPU KARET BIVAK</a></li>
            <li><a class="dropdown-item" href="/tpu-psbb">TPU PSBB</a></li>
            <li><a class="dropdown-item" href="/tpu-kawi">TPU KAWI</a></li>
            <li><a class="dropdown-item" href="/tpu-petamburan">TPU PETAMBURAN</a></li>
        </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-lg dropdown-toggle btn-menu" style="background-color: #24b554;" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
        JAKARTA UTARA
      </button>
      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
        <li><a class="dropdown-item active" href="#">Action</a></li>
      </div>
    <div class="dropdown">
      <button class="btn btn-lg dropdown-toggle btn-menu" style="background-color: #24b554;" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
        JAKARTA BARAT
      </button>
      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
        <li><a class="dropdown-item active" href="#">Action</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-lg dropdown-toggle btn-menu" style="background-color: #24b554;" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
        JAKARTA SELATAN
      </button>
      <ul class="dropdown-menu dropdown-menu-dark"  aria-labelledby="dropdownMenuButton2">
        <li><a class="dropdown-item active" href="#">Action</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-lg dropdown-toggle btn-menu" style="background-color: #24b554;" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
        JAKARTA TIMUR
      </button>
    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
      <li><a class="dropdown-item active" href="#">Action</a></li>
    </ul>
    </div>
  </div>
</section>
<!-- End Menu Section -->

<!-- Start Section Hero -->
<section id="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="images/Images - Home/TPU Petamburan.JPG" class="d-block w-100" alt="tpu-petamburan" />
                <div class="carousel-caption d-none d-md-block caption-location">
                  <h5 class="caption-text">TPU PETAMBURAN</h5>
                </div>
            </div>
            <div class="carousel-item">
              <img src="images/Images - Home/TPU Karet Bivak.JPG" class="d-block w-100" alt="tpu-karet" />
                <div class="carousel-caption d-none d-md-block caption-location">
                  <h5 class="caption-text">TPU KARET BIVAK</h5>
                </div>
            </div>
            <div class="carousel-item">
              <img src="images/Images - Home/TPU Kawi.JPG" class="d-block w-100" alt="tpu-kawi" />
                <div class="carousel-caption d-none d-md-block caption-location">
                  <h5 class="caption-text">TPU KAWI</h5>
                </div>
            </div>
            <div class="carousel-item">
              <img src="images/Images - Home/TPU PSBB.jpg" class="d-block w-100" alt="tpu-psbb" />
                <div class="carousel-caption d-none d-md-block caption-location">
                  <h5 class="caption-text">TPU PSBB</h5>
                </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-lg-6 narasi">
        <p class="text-narasi">
          Berdasarkan Peraturan Daerah Provinsi DKI Jakarta Nomor 3 Tahun 2007 tentang Pemakaman, bahwa Taman Pemakaman adalah lahan yang digunakan untuk memakamkan jenazah yang dilengkapi dengan prasarana dan sarana dan dikelola oleh
          Pemprov DKI Jakarta. Sesuai dengan Pergub 157 tahun 2022 bahwa Dinas Pertamanan dan Hutan Kota merupakan SKPD yang bertanggung jawab di bidang pemakaman di Jakarta. Seiring dengan kebutuhan data informasi dalam perumusan
          kebijakan pemakaman, maka diperlukan Profil Karakteristik Taman Pemakaman Umum yang berisi informasi prasarana dan sarana seluruh TPU di wilayah Jakarta. Luas pemakaman di wilayah DKI Jakarta seluas 6.070.955 m2 yg terdiri dr
          82 TPU yg tersebar di 5 wilayah Kota Administrasi yaitu Jakarta Pusat 4 TPU, Jakarta Barat 14 TPU, Jakarta Utara 10 TPU, Jakarta Selatan 20 TPU, Jakarta Timur 34 TPU.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End Section Hero -->

<%- include('../partials/footer.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<%- include('../partials/end.ejs') %>
